<main class="p-12 mx-auto text-gray-800 max-w-7xl">
  <%= simple_form_for @supplier, builder: TailwindFormBuilder, class: "mt-6", url: catalogue_suppliers_path do |f| %>
    <%= f.label "Select the Supplier and click Next" %>
    <%= f.collection_select :id, Supplier.order(:name),:id,:name, include_blank: true %>
    <br />
    <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/4 lg:w-1/4 py-2 flex flex-col items-center justify-center">Next</button>'.html_safe, catalogue_suppliers_path, method: :post %>
  <% end %>

    <%= link_to '<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-1/4 lg:w-1/4 py-2 flex flex-col items-center justify-center">Back</button>'.html_safe, catalogue_index_path, method: :get %>
</main>